<h1>Wikipedia Pages</h1>

<div class="row">
  <div class="col-3">
    <table class="table table-hover wiki-table">
      <thead>
        <tr>
          <th>Famous people</th>
        </tr>
      </thead>
      <tbody>
        <tr data-name='Wilson_Lumpkin'>
          <td>Wilson Lumpkin</td>
        </tr>
        <tr data-name='Robert_Toombs'>
          <td>Robert Toombs</td>
        </tr>
        <tr data-name='Saxby_Chambliss'>
          <td>Saxby Chambliss</td>
        </tr>
        <tr data-name='Wyche_Fowler'>
          <td>Wyche Fowler</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-1"></div>
  <div class="col-7" id= "wiki-results">
  </div>
</div>
